{% extends 'base.html.twig' %}



	{% block title %}le bon Quark
	{% endblock %}

	{% block body %}


		<h1>bienvenu sur le Bon Quark</h1>


		{{app.user.roles[0]}}

	{% if (is_granted('ROLE_ADMIN'))%}
	
	<a href="/admin"> partie admin</a>

{% endif %}
	{% endblock %}
